[build]
  base = "frontend"
  command = "npm run build"
  publish = ".next"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "NEXT_PUBLIC_CUSD_ADDRESS,NEXT_PUBLIC_CHAIN_ID,NEXT_PUBLIC_THIRDWEB_CLIENT_ID,NEXT_PUBLIC_FACTORY_ADDRESS,NEXT_PUBLIC_SELF_VERIFICATION_ADDRESS"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[context.production.environment]
  NEXT_PRIVATE_TURBOPACK = "false"
